<% layout('/layouts/boilerplate') %>

<div id="cluster-map"></div>

<h1>All Campgrounds</h1>

<a href="/campgrounds/new" style="
display: inline-block;
padding: 10px 20px;
background-color: #4CAF50; /* Green */
color: white;
text-align: center;
text-decoration: none;
border-radius: 4px;
cursor: pointer;
margin-top: 5px;
margin-bottom: 20px;">Add Campground</a>

<% for(let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
               <% if(campground.images.length){  %>
                    <img height="280px" width="420px" class="img-fluid" src="<%= campground.images[0].url %>" alt="">
               <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-body-secondary"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground.id %>">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<script>
    const mapToken = 'pk.eyJ1IjoieWFzaGxha2h0YXJpeWEiLCJhIjoiY2x2dXZsc3B4MDByNzJtbjJleTdkcjB4MSJ9.HAyVsR-xfknQDG-7zEIk7A';
    const campgrounds = {features: `<%-JSON.stringify(campgrounds)%>`};
</script>
<script src="/JS/clusterMap.js"></script>